{% extends 'base.html' %}
{% block title %}tweets_detail{% endblock %}
{% block content %}
<div>
    <p>タイトル:{{tweet.title}}</p>
    <p>投稿者:{{tweet.user}}</p>
    <p>コメント:{{tweet.content}}</p>
    {% if tweet.id in liked_list %}
<button id="tweet-{{tweet.id}}" onclick="changeLike(id)" data-url="{% url 'tweets:unlike' tweet.id %}">いいねを取り消す</button>
{% else %}
<button id="tweet-{{tweet.id}}" onclick="changeLike(id)" data-url="{% url 'tweets:like' tweet.id %}">いいね</button>
{% endif %}
<span class="count_{{tweet.id}}">{{tweet.liked_tweet.count}}</span><a>いいね</a>
    {% if tweet.user == request.user %}
    <p>
        <a href="{% url 'tweets:delete' tweet.pk %}">削除する</a>
    </p>
    {% endif %}
</div>
{% include "tweets/liked_js.html" %}
{% endblock %}
