{% extends 'base.html' %}
{% block title %}tweets_detail{% endblock %}
{% block content %}
<div>
    <p>タイトル:{{tweet.title}}</p>
    <p>投稿者:{{tweet.user}}</p>
    <p>コメント:{{tweet.content}}</p>
    {% if tweet.id in liked_list %}
<button id="tweet-{{tweet.id}}" onclick="changeLike(id)" data-url="{% url 'tweets:unlike' tweet.id %}">いいねを取り消す</button>
{% else %}
<button id="tweet-{{tweet.id}}" onclick="changeLike(id)" data-url="{% url 'tweets:like' tweet.id %}">いいね</button>
{% endif %}
<span class="count_{{tweet.id}}">{{tweet.liked_tweet.count}}</span><a>いいね</a>
    {% if tweet.user == request.user %}
    <p>
        <a href="{% url 'tweets:delete' tweet.pk %}">削除する</a>
    </p>
    {% endif %}
</div>
<script>
  const getCookie = (name) => {
      if (document.cookie && document.cookie !== '') {
          for (const cookie of document.cookie.split(';')) {
              const [key, value] = cookie.trim().split('=')
              if (key === name) {
                  return decodeURIComponent(value)
              }
          }
      }
  }
  const csrftoken = getCookie('csrftoken')

  const changeLike = async (id) => {
      const like_button = document.querySelector("#" + id)
      const url = like_button.dataset.url;
      const response = await fetch(url, {
          method: "POST",
          headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": csrftoken,
          }
      });
      const tweet_data = await response.json();
      changeStyle(tweet_data, like_button);
  }

  const changeStyle = (tweet_data, like_button) => {
      const like_count = document.querySelector(".count_" + tweet_data.tweet_id)
      if (tweet_data.is_liked) {
          unlike_url = tweet_data.unlike_url;
          like_button.setAttribute("data-url", unlike_url);
          like_button.innerHTML = "<p>いいねを取り消す</p>";
          like_count.textContent = tweet_data.like_count;
      } else {
          like_url = tweet_data.like_url;
          like_button.setAttribute("data-url", like_url);
          like_button.innerHTML = "<p>いいね</p>";
          like_count.textContent = tweet_data.like_count;
      }
  }
</script>
{% endblock %}
